#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Estilos del juego  */
.app-container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.input-section {
  margin-top: 20px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
}

.number-input {
  padding: 8px 10px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  width: 180px;
  font-size: 14px;
}

.btn {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.primary-btn {
  background-color: #3b82f6; /* azul */
  color: white;
}
.primary-btn:hover {
  background-color: #2563eb;
}
